<% @title = 'clockOut - 个人设置' %>

<% content_for(:javascript) do %>
  <%= javascript_include_tag 'sessions', 'data-turbolinks-track' => true %>
<% end %>

<h1>个人设置</h1>
<%= render 'edit_form' %>

<div class="user-back">
  <%= link_to '回到主页', @user, :class => 'no-decoration' %>
</div>