<% @title = '欢迎使用clockOut - 注册' %>

<% content_for(:javascript) do %>
  <%= javascript_include_tag 'sessions', 'data-turbolinks-track' => true %>
<% end %>

<h1>注册</h1>
<%= render 'form' %>
<p id="notice">注册后需要先到注册邮箱确认才能登录</p>
