// Place all the styles related to the Missions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#mission_content {
  height: 100px;
}

.mission-notice {
  margin-left: 17%;
  padding-bottom: 2px;
  
  & > p {
    font-size: 16px;
    line-height: 1.25em;
  }
}

#current-missions, #finished-missions {
  
  td.finished-days, td.days {
    text-indent: 2em;
  }
  
  td.mission-result {
    vertical-align: middle;
  }
}

#current-missions {
  & > tr.aborted {
    background-color: #f2dede;
    &:hover {
      background-color: #ebcccc;
    }
    
    .progress-bar {
      background-color: #d9534f;
    }
  }
}

#finished-missions-panel > .dropup, #finished-missions-panel > .dropdown {
  width: 100%;
  margin: 40px 0;
  cursor: pointer;
  
  & > .show-finished-missions {
    margin-left: 40%;
    font-size: 20px;
  }
  
  & > .caret.up {
    border-bottom: 8px solid;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }
  
  & > .caret.down {
    border-top: 8px solid;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }
}