// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* about new user */
#new_user {
  padding-bottom: 20px;
}

th {
  width: 200px;
}

#user-index {
  & > thead {
    height: 3em;
    border-bottom: 1px solid #D1EEEE;
  }
  
  th {
    text-align: center;
    font-size: 18px;
    line-height: 2em;
    height: 2em;
  }
  
  td {
    text-align: center;
    font-size: 16px
  }
  
}

th.current-missions {
  width: 110px;
}

th.historic-missions {
  width: 120px;
}

td.name {
  $name_color : black;
  
  text-align: center;
  font-weight: bold;
  color: $name_color;
  
  & > a:hover {
    color: $name_color;
    text-decoration: none;
    background-color: inherit;
  }
  
  & > a:visted {
    color: $name_color;
  }
}

td.current-missions {
  color: #DF7133;
}

td.historic-missions {
  letter-spacing: -0.2em;
}

span.finished-missions {
  color: red;
//  letter-spacing: normal;
}

span.created-missions {
  color: green;
  letter-spacing: normal;
}

.progress {
  // 这个变量不能定制，所以就直接覆盖掉它
  margin-bottom: 0 !important; 
}

/* about navbar */
$navbar_half_size : 8px;

.navbar-btn-groups {
  margin-bottom: $navbar_half_size;
  margin-top: $navbar_half_size;
  
  $navbtn-margin : 25px;
  @media (max-width: 768px) {
    $navbtn-margin : 0px;
  }
  
  & > .btn-group {
    font-size: 20px;
  }
  
  & > .btn-group:first-child {
    margin-left: $navbtn-margin;
  }
  & > .btn-group:last-child {
    margin-right: $navbtn-margin + 60px;
    @media (max-width: 1170px) {
      margin-right: $navbtn-margin;
    }
  }
}

.navbar-list {
  width: 80%;
  padding: 0 0;
  font-weight: normal;
  
  $list_margin : 0px;
  
  & > li {
    top: 15px;
    margin: 0 $list_margin;
    font-size: 20px;
    
    @media (max-width: 480px) {
      width: 100%;
      margin: 5px 0;
    }
    
    & > a {
      color: #000 !important;
      // reset top
      top: -16px;
      
      @media (max-width: 480px) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  & > .navbar-name {
//    margin-left: $list_margin + 55px;
//    margin-right: $list_margin + 55px;
    color: #000;
  }
  
}


@media (max-width: 768px) {
  .navbar-list {
    width: 100%;
    padding: 0 0;
    font-weight: normal;

  //  $list_margin : 50px;
    $list_margin : 0px;

    & > li {
      margin: 0 0;
      top: 0;
      font-size: 20px;

      & > a {
        color: #000 !important;
        top: 0;
      }
    }

    & > .navbar-name {
      color: #000;
      margin-left: 0;
      margin-right: 0;
    }
    
    & > .navbar-num {
      top: 10px;
      @media (max-width: 480px) {
        top: 0;
        padding-left: 30px;
      }
    }
  }
}

// 跟导航条的配置变量一样，因为scss中不能导入单个变量，所以这里重复下
$navbar-default-bg : rgb(248, 247, 243);
.nav-one {
//  background-color: adjust-color($navbar-default-bg, $lightness: 30%) !important;
}

.nav-two {
  background-color: $navbar-default-bg !important;
}

.nav-three {
  background-color: adjust-color($navbar-default-bg, $lightness: -30%) !important;
}

/* about editing user */
.users-controller.edit-action, .users-controller.update-action {
  h1 {
    text-align: center;
  }
  
  .user-back {
    float: right;
    font-size: 16px;
  }
}

/* about users#show_edit_mission */
#mission_content {
  height: 100px;
}

/* about users#show */
/* 下面依次是users#show的四个面板：提示、当前任务、历史任务、分页*/
.mission-notice {
  margin-left: 15%;
  margin-right: 15%;
  z-index: 9999;
  
 p {
    color: rgb(207, 55, 55);
    font-size: 20px;
    text-align: center;
  }
} 

#current-missions, #finished-missions {
  
  td.finished-days, td.days {
    text-indent: 1em;
  }
  
  td.mission-result {
    vertical-align: middle;
  }
}

#current-missions {
  & > tr.aborted {
    background-color: #f2dede;
    &:hover {
      background-color: #ebcccc;
    }
    
    .progress-bar {
      background-color: #d9534f;
    }
  }
  
  // 缩小进度条和任务名以外各项的面积
  td .btn {
    padding: 6px 8px;
    border: none;
  }
}

#finished-missions-panel > .dropup, #finished-missions-panel > .dropdown {
  width: 100%;
  margin: 40px 0;
  cursor: pointer;
  
  & > .show-finished-missions {
    margin-left: 40%;
    font-size: 20px;
  }
  
  & > .caret.up {
    border-bottom: 8px solid;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }
  
  & > .caret.down {
    border-top: 8px solid;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }
}

.finished-panel-bottom {
  // 实现水平居中
  margin: 0 auto;
  text-align: center;
}

.pagination {

  & > li.ellipsis {
    display: none;
  }
  
  & > li.page-num {
    & > a {
      cursor: pointer;
    }
  }
  
  & > li.page-action {
    & > a {
      cursor: pointer;
    }
  }
}